doctype html
html
    body
        h1 Datos del emisor del mensaje

        table
            tr
                td Nombre
                td #{name}
            tr
                td Apellido
                td #{lastname}
            tr
                td Telefono
                td #{phone}
            tr
                td Correo
                td #{email}

        br

        h1 Mensaje
        p #{message}
